
<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>Nekretnine</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
        O nama
      {{/link-to}}

      {{#if session.isAuthenticated}}
      {{#link-to 'advertise'}}
        Objavi oglas
      {{/link-to}}
      <a href="/profile">{{ session.data.authenticated.korisnik.korisnickoIme }} </a>
      <a href="#" {{action "logout" }}> Odjavi se</a>
      {{else}}
      {{#link-to 'register'}}
              Registracija
      {{/link-to}}
      {{#link-to 'login'}}
              Prijava
      {{/link-to}}
      {{/if}}
    </div>
  </div>

  <div class="body">
    {{outlet}}
  </div>
</div>
