<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>Nekretnine</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
        About
      {{/link-to}}
      {{#link-to 'login'}}
        Login
      {{/link-to}}
      {{#link-to 'register'}}
        Register
      {{/link-to}}

      {{#link-to 'accounts'}}
        Accounts
      {{/link-to}}
      {{#link-to 'advertise'}}
              Advertise
            {{/link-to}}
    </div>
  </div>

  <div class="body">
    {{outlet}}
  </div>
</div>
