
<h1>Registracija</h1>
  <div class="container">
    <section class="register">
      
      <form method="post" action="index.html">
      <div class="reg_section personal_info">
      <h3>Your Personal Information</h3>
     <input type="text" name="ime" value="" placeholder="Ime" pattern="[a-zA-Z]{5,}" title="Minimum 5 letters" required><br>
     <input type="text" name="prezime" value="" placeholder="Prezime"><br>
      <input type="text" name="username" value="" placeholder="Username"><br>
      <input type="text" name="email" value="" placeholder="E-mail adresa">
      </div>
      <div class="reg_section password">
      <h3>Your Password</h3>
      <input type="password" name="password" value="" placeholder="Password"><br>
      <input type="password" name="confirm" value="" placeholder="Confirm Password">
      </div>
      <div class="reg_section password">
       </div>
      <p class="terms">
        
      </p>
      <br>
      {{#link-to 'rentals' class="button"}}
    Registruj se
  {{/link-to}}
      </form>
    </section>

  </div>
  

